.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileAvatar{
    width: 212px;
    margin-top: 39px;
    margin-bottom: 19px;
}
.profileName{
    font-size: 48px;
}
.addPhoto{
    width: 360px;
    height: 52px;
    background: #1D1D1D;
    border-radius: 10px;
    color: white;
    font-family: 'InterRegular';
    font-size: 28px;
    border: none;
    margin-top: 28px;
    margin-bottom: 18px;
}
.addPhoto:hover{
    background-color: #000000;
    cursor: pointer;
}
.edit{
    font-size: 24px;
}
.edit:hover{
    cursor: pointer;
    color: #5c5c5c;
}
.editDiv img {
    margin-right: 5px; 
    width: 18px; 
}
.contentDiv{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 40px;
}
.profilePhoto{
    max-width: 360px;
    max-height: 230px;
}
hr{
    margin-top: 18px;
    margin-bottom: 35px;
}