/* .authorizationPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} */
/* .telNumber{
    padding: 50px;
} */

.authorizationPage h2 {
    font-family:"InterSemiBold";
    font-size: 48px;
}


.linkReg{
    color: black;
}


